.form {
    background-color: white;
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 650px;
    border-radius: 5%;
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}



.email {
    margin: 20px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    color: black;
    background: transparent;
}

.password {
    margin: 20px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    color: black;
    background: transparent;
}



::placeholder{
    color: black;
}

.button1 {
    border-radius: 20px;
    width: 100px;
    height: 50px;
    margin-left: 210px;
    margin-top: 40px;
    background-image: black;    
}

.button1:hover {
    background-color: white;
}