.forms {
    background-color: rgb(255, 255, 255);
    z-index: 1000;
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 650px;
    border-radius: 5%;
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.firstname{
    margin: 20px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    color: black;
    background: transparent;
}

.lastname {
    margin: 20px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    color: black;
    background: transparent;
}

.email {
    margin: 20px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    color: black;
    background: transparent;
}

.password {
    margin: 20px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    color: black;
    background: transparent;
}

.retypepassword {
    margin: 20px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    color: black;
    background: transparent;
}

::placeholder{
    color: black;
}

.button {
    border-radius: 20px;
    width: 100px;
    height: 150px;
    margin-left: 210px;
    z-index: 999;
    background-image: black;    
}

.button:hover {
    background-color: white;
}
